<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/styles.css" />
    <title>Vue Tasks List</title>
  </head>
  <body>
    <div id="app">
      <header><h1>Task List</h1></header>
      <main>
        <form @submit="addTask($event)">
          <input
            aria-label="Enter task name"
            placeholder="Task name"
            v-model="newTask"
          />
          <label for="task-priority">Task priority</label>
          <input
            type="number"
            id="task-priority"
            min="1"
            max="10"
            v-model="priority"
            value="1"
          />
          <button type="submit">Add</button>
        </form>
        <ul>
          <li v-for="task in tasks">
            {{task.label}} | priority: {{task.priority}}
            <button @click="deleteTask(task.id)">delete</button>
          </li>
        </ul>
      </main>
    </div>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
